{% extends "layout.html" %}
{% block title %}about{% endblock %}

{% block content %}
<h1>About Me</h1>
<hr />
<img src="/img/me.jpg" />

<p>My name is J.P. Cummins and I'm a frontend engineer at Twitter and previously worked on Bing.  This is my personal website where I like to blog about nerdy stuff.   You can also find me on <a href="http://twitter.com/jcummins">Twitter</a>, <a href="http://facebook.com/jpcummins">Facebook</a>, and <a href="http://jcummins.smugmug.com">SmugMug</a>.  If you want to contact me, just shoot me an <a href="mailto:jpcummins@gmail.com" rel="author">email</a>.</p>
<p>I hope you like my site, I developed it using <a href="http://djangoproject.com">django</a> and <a href="http://python.org">python</a>.  You can check out all of my open-source code on my <a href="/projects/">projects page</a>.</p>

{% endblock %}
