{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}
<img class="me" src="/img/me.jpg" style="margin-bottom:20px" />

<h2>About me</h2>
<p>Oh, hi! My name is J.P. Cummins and I live in San Francisco, California.</p>

<h2>Professional</h2>
<p>I'm an engineering manager at Twitter. Prior to managing, I was a tech lead for the Twitter Search and Discovery frontend teams. I got my start as a frontend engineer at Bing.</p>

<h2>Hobbies</h2>
<p><a href="http://github.com/jpcummins">programming</a>, <a href="http://jcummins.smugmug.com">hiking</a>, beer brewing, board games.</p>

<h2>Contact</h2>
<a href="mailto:jpcummins@gmail.com" rel="author">jpcummins@gmail.com</a>, <a href="http://twitter.com/jcummins">@jcummins</a>, <a href="http://www.linkedin.com/in/jpcummins">LinkedIn</a>
<p><a href="https://twitter.com/jcummins" class="twitter-follow-button" data-show-count="true" data-lang="en" data-show-screen-name="true" data-size="large" data-align="right">Follow @jcummins</a></p>

{% endblock %}
