{% extends "layout.html" %}
{% block title %}about{% endblock %}

{% block content %}
<h1>About Me</h1>
<hr />

<img src="/img/me.jpg" style="margin-bottom:20px" />

<a href="https://twitter.com/jcummins" class="twitter-follow-button" data-show-count="true" data-lang="en" data-show-screen-name="true" data-size="large" data-align="right">Follow @jcummins</a>

<p>My name is J.P. Cummins and I'm an engineering manager at Twitter. I previously worked as a frontend engineer on Bing.</p>

<p>You can also find me on <a href="http://twitter.com/jcummins">Twitter</a>, <a href="http://github.com/jpcummins">GitHub</a>, and <a href="http://jcummins.smugmug.com">SmugMug</a>. If you want to contact me, just shoot me an <a href="mailto:jpcummins@gmail.com" rel="author">email</a> or <a href="http://twitter.com/jcummins">Tweet</a>.</p>


{% endblock %}
