<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% block meta %}{% endblock %}
    <title>J.P. Cummins | {% block title %}{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" href="/rss"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/highlight.css" />
    <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600|Inconsolata' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock %}
  </head>

  <body>

    <nav>
      <div class="full">
        <h1><a href="/">J.P. Cummins</a></h1>
        <ul>
          <li><a href="/" {% if section == "home" %}class="section"{% endif %}>Home</a></li>
          <li><a href="/blog/" {% if section == "blog" %}class="section"{% endif %}>Archive</a></li>
          <li><a href="/about/" {% if section == "about" %}class="section"{% endif %}>About</a></li>
        </ul>
      </div>
    </nav>

    <section id="content">
      {% block content_full %}
      <div class="full">
        {% block content %}{% endblock %}
      </div>
      {% endblock %}
    </section>

    <footer>
      <div class="full">
        <hr />
        <p>© <a href="/about">J.P. Cummins</a>. All Rights Reserved.</p>
      </div>
    </footer>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try{
      var pageTracker = _gat._getTracker("UA-4781965-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
