<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>J.P. Cummins</title>
    <description>RSS feed for jipsta.com</description>
    <link>http://jipsta.com</link>
    <lastBuildDate>{{ entries[0].pub_date_rfc822 }}</lastBuildDate>
    <pubDate>{{ entries[0].pub_date_rfc822 }}</pubDate>
    <ttl>720</ttl>
    {% for entry in entries %}
    <item>
      <title>{{ entry.title }}</title>
      <link>http://jipsta.com/{{ entry.slug }}</link>
      <description>{{ entry.html|escape }}</description>
      <author>jpcummins@gmail.com (J.P. Cummins)</author>
      <guid>http://jipsta.com/{{ entry.slug }}</guid>
      <pubDate>{{ entry.pub_date_rfc822 }}</pubDate>
    </item>
    {% endfor %}
  </channel>
</rss>
